<div class="col-lg-12">
	<div class="areas-template row">
		<br>
		<div class="panel-group col-lg-12" id="accordion">
			<div class="cardapio-title">Cardápio</div><br>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
					<span class="area-arrow">&#9658;</span> Pizzas </a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="col-lg-6">
							<div class="pull-left item-name">194 Alho e Óleo</div><br>
							<small>(mussarela e alho frito)</small><br>
							<span class="prices"><span><small>Peq.</small> 25,00</span><span><small>Méd.</small> 29,00</span><span><small>Grd.</small> 36,00</span></span><br><br>
							<div class="pull-left item-name">195 Atum</div><br>
							<small>(mussarela, atum e cebola)</small><br>
							<span class="prices"><span><small>Peq.</small> 26,00</span><span><small>Méd.</small> 30,00</span><span><small>Grd.</small> 38,00</span></span><br><br>
							<div class="pull-left item-name">196 Bacon</div><br>
							<small>(mussarela e fatias de bacon)</small><br>
							<span class="prices"><span><small>Peq.</small> 28,00</span><span><small>Méd.</small> 32,00</span><span><small>Grd.</small> 40,00</span></span><br><br>
							<div class="pull-left item-name">197 Baiana</div><br>
							<small>(mussarela, calabresa moída, cebola, ovos e pimenta calabresa)</small><br>
							<span class="prices"><span><small>Peq.</small> 29,00</span><span><small>Méd.</small> 36,00</span><span><small>Grd.</small> 45,00</span></span><br><br>
							<div class="pull-left item-name">198 Berinjela</div><br>
							<small>(mussarela, berinjela refogada com pimentão e cebola)</small><br>
							<span class="prices"><span><small>Peq.</small> 27,00</span><span><small>Méd.</small> 29,00</span><span><small>Grd.</small> 36,00</span></span><br><br>
							<div class="pull-left item-name">199 Brasileira</div><br>
							<small>(mussarela, frango desfiado, champignon, palmito e catupiry)</small><br>
							<span class="prices"><span><small>Peq.</small> 29,00</span><span><small>Méd.</small> 42,00</span><span><small>Grd.</small> 53,00</span></span><br><br>
							<div class="pull-left item-name">200 Calabresa</div><br>
							<small>(mussarela, calabresa e cebola)</small><br>
							<span class="prices"><span><small>Peq.</small> 28,00</span><span><small>Méd.</small> 34,00</span><span><small>Grd.</small> 40,00</span></span><br><br>
							<div class="pull-left item-name">201 Camarão</div><br>
							<small>(mussarela, camarão coberto com catupiry)</small><br>
							<span class="prices"><span><small>Peq.</small> 32,50</span><span><small>Méd.</small> 41,00</span><span><small>Grd.</small> 55,00</span></span><br><br>
							<div class="pull-left item-name">202 Champignon</div><br>
							<small>(mussarela, bacon e champignon)</small><br>
							<span class="prices"><span><small>Peq.</small> 27,50</span><span><small>Méd.</small> 32,00</span><span><small>Grd.</small> 45,00</span></span><br><br>
							<div class="pull-left item-name">203 Cinco Queijos</div><br>
							<small>(mussarela, catupiry, provolone, gorgonzola e parmesão)</small><br>
							<span class="prices"><span><small>Peq.</small> 35,00</span><span><small>Méd.</small> 44,00</span><span><small>Grd.</small> 59,00</span></span><br><br>
							<div class="pull-left item-name">204 Frango</div><br>
							<small>(mussarela e frango desfiado)</small><br>
							<span class="prices"><span><small>Peq.</small> 28,00</span><span><small>Méd.</small> 32,00</span><span><small>Grd.</small> 38,00</span></span><br><br>
							<div class="pull-left item-name">205 Frango com Catupiry</div><br>
							<small>(mussarela, frango desfiado com catupiry)</small><br>
							<span class="prices"><span><small>Peq.</small> 29,00</span><span><small>Méd.</small> 33,00</span><span><small>Grd.</small> 43,00</span></span><br><br>
							<div class="pull-left item-name">206 Gomes de Sá</div><br>
							<small>(mussarela, bacalhau desfiado, ovos, cebola e parmesão)</small><br>
							<span class="prices"><span><small>Peq.</small> 36,00</span><span><small>Méd.</small> 47,00</span><span><small>Grd.</small> 62,00</span></span><br><br>
							<div class="pull-left item-name">207 Gorgonzola</div><br>
							<small>(mussarela e gorgonzola)</small><br>
							<span class="prices"><span><small>Peq.</small> 34,00</span><span><small>Méd.</small> 42,00</span><span><small>Grd.</small> 58,00</span></span><br><br>
							<div class="pull-left item-name">208 Lombo</div><br>
							<small>(mussarela, lombo canadense e cebola)</small><br>
							<span class="prices"><span><small>Peq.</small> 29,50</span><span><small>Méd.</small> 36,00</span><span><small>Grd.</small> 46,00</span></span><br><br>
						</div>	
						<div class="col-lg-6">
							<div class="pull-left item-name">209 Lombo com Catupiry</div><br>
							<small>(mussarela, lombo canadense e catupiry)</small><br>
							<span class="prices"><span><small>Peq.</small> 32,50</span><span><small>Méd.</small> 41,00</span><span><small>Grd.</small> 54,00</span></span><br><br>
							<div class="pull-left item-name">210 Marguerita</div><br>
							<small>(mussarela, manjericão e alho)</small><br>
							<span class="prices"><span><small>Peq.</small> 30,00</span><span><small>Méd.</small> 33,00</span><span><small>Grd.</small> 38,00</span></span><br><br>
							<div class="pull-left item-name">211 Cavaleiros</div><br>
							<small>(mussarela, peito de peru, champignon, alcaparras e catupiry)</small><br>
							<span class="prices"><span><small>Peq.</small> 34,00</span><span><small>Méd.</small> 40,00</span><span><small>Grd.</small> 49,00</span></span><br><br>
							<div class="pull-left item-name">212 Mussarela</div><br>
							<small>(mussarelae e orégano)</small><br>
							<span class="prices"><span><small>Peq.</small> 28,00</span><span><small>Méd.</small> 30,50</span><span><small>Grd.</small> 36,00</span></span><br><br>
							<div class="pull-left item-name">213 Napolitana</div><br>
							<small>(mussarela e parmesão)</small><br>
							<span class="prices"><span><small>Peq.</small> 29,00</span><span><small>Méd.</small> 33,00</span><span><small>Grd.</small> 39,00</span></span><br><br>
							<div class="pull-left item-name">214 Palmito</div><br>
							<small>(mussarela, palmito e cebola)</small><br>
							<span class="prices"><span><small>Peq.</small> 29,00</span><span><small>Méd.</small> 36,00</span><span><small>Grd.</small> 41,00</span></span><br><br>
							<div class="pull-left item-name">215 Pizza do Chef</div><br>
							<small>(mussarela, calabresa moída, palmito e pimenta calabresa)</small><br>
							<span class="prices"><span><small>Peq.</small> 32,00</span><span><small>Méd.</small> 37,00</span><span><small>Grd.</small> 45,00</span></span><br><br>
							<div class="pull-left item-name">216 Pomodoro</div><br>
							<small>(mussarela, parmesão e alho)</small><br>
							<span class="prices"><span><small>Peq.</small> 28,00</span><span><small>Méd.</small> 31,00</span><span><small>Grd.</small> 41,00</span></span><br><br>
							<div class="pull-left item-name">217 Portuguesa</div><br>
							<small>(mussarela, presunto, ovos e cebola)</small><br>
							<span class="prices"><span><small>Peq.</small> 34,00</span><span><small>Méd.</small> 41,40</span><span><small>Grd.</small> 49,00</span></span><br><br>
							<div class="pull-left item-name">218 Provolone</div><br>
							<small>(mussarela e provolone)</small><br>
							<span class="prices"><span><small>Peq.</small> 32,00</span><span><small>Méd.</small> 37,00</span><span><small>Grd.</small> 46,00</span></span><br><br>
							<div class="pull-left item-name">219 Quatro Queijos</div><br>
							<small>(mussarela, catupiry, parmesão e gorgonzola)</small><br>
							<span class="prices"><span><small>Peq.</small> 35,00</span><span><small>Méd.</small> 47,00</span><span><small>Grd.</small> 54,00</span></span><br><br>
							<div class="pull-left item-name">220 Strogonoff</div><br>
							<small>(mussarela, strogonoff e batata palha)</small><br>
							<span class="prices"><span><small>Peq.</small> 35,00</span><span><small>Méd.</small> 43,00</span><span><small>Grd.</small> 53,00</span></span><br><br>
							<div class="pull-left item-name">221 Brasa e Vino</div><br>
							<small>(mussarela, peperoni, pimentão, champignon e azeitona)</small><br>
							<span class="prices"><span><small>Peq.</small> 37,00</span><span><small>Méd.</small> 46,00</span><span><small>Grd.</small> 61,00</span></span><br><br>
							<div class="pull-left item-name">319 Presunto de Parma</div><br>
							<small>(mussarela e presunto de parma)</small><br>
							<span class="prices"><span><small>Peq.</small> 37,00</span><span><small>Méd.</small> 47,00</span><span><small>Grd.</small> 62,00</span></span><br><br>
							<div class="pull-left item-name">320 Lombo com Abacaxi</div><br>
							<small>(mussarela, lombo canadanse e abacaxi)</small><br>
							<span class="prices"><span><small>Peq.</small> 32,00</span><span><small>Méd.</small> 41,00</span><span><small>Grd.</small> 52,00</span></span><br><br>
							
						</div>	



					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
					<span class="area-arrow">&#9658;</span> Entradas </a>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="pull-left item-name">100 Bruschetta à Brasa & Vino 16,00</div><br><br>
						<div class="pull-left item-name">101 Coquetél de Camarão <span class="new-item">NOVO!</span> 21,00</div><br><br>
						<div class="pull-left item-name">102 Saladinha Tropical <span class="new-item">NOVO!</span> 13,00</div><br><br>
						<div class="pull-left item-name">310 Champignon recheado <span class="new-item">NOVO!</span> 19,00</div><br><br>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
					<span class="area-arrow">&#9658;</span> Saladas </a>
					</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="pull-left item-name">311 Salada Verde <span class="new-item">NOVO!</span> 15,00</div><br>
						<small>(Mix de folhas, cenoura ralada, tomate cereja e croutons)</small><br><br>
						<div class="pull-left item-name">117 Salada Caprese 19,00</div><br><br>
						<div class="pull-left item-name">121 Salada Ceasar 16,00</div><br>
						<small>(Mix de folhas, cenoura ralada, tomate cereja e croutons)</small><br><br>
						<div class="pull-left item-name">312 Salada especial ao molho de gorgonzola <span class="new-item">NOVO!</span> 21,00</div><br>
						<small>(Alface americana, gorgonzola, ovo cozido ralado, tomate em cubinhos e bacon)</small><br><br>
						<div class="pull-left item-name"><span class="new-item">NOVO!</span> As saladas do Brasa & Vino agora podem vir acompanhadas com quiche!!</div><br><br>
						<div class="pull-left item-name"> Opções de acompanhamento (valores adicionais ao das saladas)</div><br>
						313 Quiche do dia <span class="new-item">NOVO!</span> 8,00<br><br>
						<div class="pull-left item-name">118 Frango 11,00</div><br><br>
						<div class="pull-left item-name">119 Salmão 14,00</div><br><br>
						<div class="pull-left item-name">120 Camarão 14,00</div><br><br>
						<div class="pull-left item-name">121 Filé Mignon 16,00</div><br><br>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
					<span class="area-arrow">&#9658;</span> Massas </a>
					</h4>
				</div>
				<div id="collapseFour" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="pull-left item-name">163 Penne à pariense 29,90</div><br>
						<small>(massa penne, frango em tiras, presunto, ervilha e molho branco)</small><br><br>
						<div class="pull-left item-name">172 Talharim à carbonara 29,90</div><br>
						<small>(talharim, bacon, ovos e molho branco)</small><br><br>
						<div class="pull-left item-name">315 Talharim à moda da casa <span class="new-item">NOVO!</span> 29,90</div><br>
						<small>(talharim, calabresa fatiada, cebola e azeitona fatiada)</small><br><br>
						<div class="pull-left item-name">162 Spaguetti c/ Pallard <span class="new-item">NOVO!</span> 39,90</div><br>
						<small>(massa penne, frango em tiras, presunto, ervilha e molho branco)</small><br><br>
						<div class="pull-left item-name">173 Spaguetti à bolonhesa 29,90</div><br><br>
						<div class="pull-left item-name">174 Spaguetti c/ frutos do mar 36,90</div><br>
						<small>(spaguetti ao molho de frutos do mar. camarão, lula, mexilhão)</small><br><br>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
					<span class="area-arrow">&#9658;</span> Peixes </a>
					</h4>
				</div>
				<div id="collapseFive" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="pull-left item-name">151 Filé de salmão à Fiorentina <span class="new-item">NOVO!</span> 36,90</div><br>
						<small>(filé grelhado ao espinafre refogado, acompanha batata rostie)</small><br><br>

						<div class="pull-left item-name">153 Filé de salmão à Brasa & Vino 36,90</div><br>
						<small>(filé grelhado ao molho de mostarda e mel, purê de batata e arroz)</small><br><br>

						<div class="pull-left item-name">146 Filé de truta ao molho de ervas <span class="new-item">NOVO!</span> 36,90</div><br>
						<small>(filé grelhado ao molho de ervas e castanha de caju, acompanha purê de espinafre)</small><br><br>

						<div class="pull-left item-name">159 Filé de linguado à Belle Meuniere 39,00</div><br>
						<small>(filé grelhado ao molho de camarão, alcaparras, champignon, batata cozida e arroz)</small><br><br>

						<div class="pull-left item-name">156 Muqueca de dourado (para 2 pessoas) 72,00</div><br>
						<small>(posta de peixe cozida com molho de camarão, pirão e arroz)</small><br><br>

						<div class="pull-left item-name">158 Paella 46,00</div><br>
						<small>(polvo, lula, mexilhão, filé de peixe grelhado, camarão e arroz c/ açafrão)</small><br><br>

						<div class="pull-left item-name">171 Risoto de camarão 39,00 <span class="new-item">NOVO!</span></div><br><br>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
					<span class="area-arrow">&#9658;</span> Carnes </a>
					</h4>
				</div>
				<div id="collapseSix" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="pull-left item-name">127 Tornedor de mignon ao molho madeira 39,90</div><br>
						<small>(filé mignom grelhado com risotto de rúcula com tomate seco)</small><br><br>

						<div class="pull-left item-name">128 Filé gormet 39,90</div><br>
						<small>(filé grelhado, manteiga c/ ervas sobre o filé, acompanha batata gratinada, arroz opcional)</small><br><br>

						<div class="pull-left item-name">131 Steak de mignom sobre purê de batata barôa <span class="new-item">NOVO!</span> 39,90</div><br>
						<small>(filé mignom grelhado acompanha purê de batata barôa ao molho rôti)</small><br><br>

						<div class="pull-left item-name">132 Steak poivre 39,90</div><br>
						<small>(filé mignom grelhado ao molho madeira, creme de leite e pimenta do reino, acompanha batata cozida)</small><br><br>

						<div class="pull-left item-name">133 Filé à parmegiana 39,90</div><br>
						<small>(filé mignom à milanesa, mussarela, purê de batata e arroz)</small><br><br>

						<div class="pull-left item-name">134 Medalhão ao molho madeira 39,90</div><br>
						<small>(medalhão de filé mignom com molho de champignom, bacon e arroz à piamontese)</small><br><br>

						<div class="pull-left item-name">135 Picanha Brasa & Vino (para 2 pessoas) 64,90</div><br>
						<small>(picanha, feijão tropeiro, calabresa, queijo coalho, batata frita, molho à campanha e arroz)</small><br><br>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
					<span class="area-arrow">&#9658;</span> Frangos </a>
					</h4>
				</div>
				<div id="collapseSeven" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="pull-left item-name">130 Frango à riviera <span class="new-item">NOVO!</span> 31,90</div><br>
						<small>(peito de frango empanado e recheado com presunto e catupiry, acompanha arroz colorido e creme de milho)</small><br><br>
						<div class="pull-left item-name">142 Fricasseê de frango 29,90</div><br>
						<small>(frango em cubos ao molho branco, acompanha batata palha e arroz)</small><br><br>
						<div class="pull-left item-name">137 Frango light 29,90</div><br>
						<small>(filé de frango, legumes cozidos e creme de espinafre)</small><br><br>
						<div class="pull-left item-name">138 Frango Surprise 31,90</div><br>
						<small>(filé de frango à milanesa, purê de batatas, molho ao sugo e arroz)</small><br><br>
						<div class="pull-left item-name">141 Frango à francesa 29,90</div><br>
						<small>(filé de frango grelhado, batata palha, presunto, cebola, ervilha e arroz)</small><br><br>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
					<span class="area-arrow">&#9658;</span> Petiscos </a>
					</h4>
				</div>
				<div id="collapseEight" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="pull-left item-name">103 Bolinho de arroz recheado c/ gorgonzola 21,00</div><br><br>
						<div class="pull-left item-name">316 Pastéis orientais de siri c/ catupiry <span class="new-item">NOVO!</span> 19,00</div><br><br>
						<div class="pull-left item-name">104 Costela ao molho barbecue + anéis de cebola 38,00</div><br><br>
						<div class="pull-left item-name">317 Buffalo wings <span class="new-item">NOVO!</span> 28,00</div><br>
						<small>(sobreasas de frango empanada à moda NY)</small><br><br>
						<div class="pull-left item-name">107 Lula à dorê 23,00</div><br><br>
						<div class="pull-left item-name">105 Bolinho de bacalhau 29,00</div><br><br>
						<div class="pull-left item-name">106 Isca de peixe 25,00</div><br><br>
						<div class="pull-left item-name">108 Batata à brasa & vino 19,00</div><br><br>
						<div class="pull-left item-name">109 Calabresa fatiada c/ cebolas temperadas na cachaça 22,00</div><br><br>
						<div class="pull-left item-name">110 Carne seca c/ aipim 28,00</div><br><br>
						<div class="pull-left item-name">113 Picanha aperitivo 35,00</div><br><br>
						<div class="pull-left item-name">114 Picanha c/ aipim gratinado 39,00</div><br><br>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
					<span class="area-arrow">&#9658;</span> Sobremesas </a>
					</h4>
				</div>
				<div id="collapseNine" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="pull-left item-name">180 Pêra bêbada c/ sorvete <span class="new-item">NOVO!</span> 22,00</div><br><br>
						<div class="pull-left item-name">184 Petit gateau 12,90</div><br><br>
						<div class="pull-left item-name">185 Creme de papaia c/ licor de cassis 12,90</div><br><br>
						<div class="pull-left item-name">183 Torta alemã 7,90</div><br><br>
						<div class="pull-left item-name">183 Cheesecake (goiaba ou amora) 7,90</div><br><br>
						<div class="pull-left item-name">183 Torta de limão 7,90</div><br><br>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
					<span class="area-arrow">&#9658;</span> Pizzas Doces </a>
					</h4>
				</div>
				<div id="collapseTen" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="pull-left item-name">318 Romeu e Julieta <span class="new-item">NOVO!</span></div><br>
						<span class="prices"><span><small>Peq.</small> 27,00</span><span><small>Méd.</small> 34,50</span><span><small>Grd.</small> 39,00</span></span><br><br>
						<div class="pull-left item-name">222 Banana c/ canela</div><br>
						<span class="prices"><span><small>Peq.</small> 26,00</span><span><small>Méd.</small> 32,50</span><span><small>Grd.</small> 36,00</span></span><br><br>

						<div class="pull-left item-name">223 Banana c/ chocolate</div><br>
						<span class="prices"><span><small>Peq.</small> 27,50</span><span><small>Méd.</small> 35,00</span><span><small>Grd.</small> 39,00</span></span><br><br>

						<div class="pull-left item-name">224 Chocolate c/ morango</div><br>
						<span class="prices"><span><small>Peq.</small> 29,50</span><span><small>Méd.</small> 37,50</span><span><small>Grd.</small> 41,00</span></span><br><br>

						<div class="pull-left item-name">225 Chocolate</div><br>
						<span class="prices"><span><small>Peq.</small> 25,50</span><span><small>Méd.</small> 32,50</span><span><small>Grd.</small> 36,00</span></span><br><br>

						<div class="pull-left item-name">226 Prestigio</div><br>
						<span class="prices"><span><small>Peq.</small> 27,00</span><span><small>Méd.</small> 34,50</span><span><small>Grd.</small> 39,00</span></span><br><br>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
					<span class="area-arrow">&#9658;</span> Bebidas </a>
					</h4>
				</div>
				<div id="collapseEleven" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="col-lg-6">
							<div class="drink-type">Sucos</div>
							<div class="pull-left item-name">231 Suco Natural 4,50</div><br>
							<div class="pull-left item-name">232 Chá Gelado (lata) 4,00</div><br>
							<div class="pull-left item-name">233 Limonada suíça (copo) 4,50</div><br>
							<div class="pull-left item-name">234 Suco Lata 4,00</div><br>
							<div class="pull-left item-name">235 Suco (jarra) 10,90</div><br><br>
							<div class="drink-type">Águas</div>
							<div class="pull-left item-name">237 Água Mineral s/ gás 2,80</div><br>
							<div class="pull-left item-name">238 Água Mineral c/ gás 2,80</div><br>
							<div class="pull-left item-name">239 Tônica 4,00</div><br>
							<div class="pull-left item-name">240 H2OH 4,50</div><br>
							<div class="pull-left item-name">241 Tônica Schweppes 4,50</div><br><br>
							<div class="drink-type">Refrigerantes</div>
							<div class="pull-left item-name">242 Refrigerante Lata 3,50</div><br>
							<div class="pull-left item-name">242 Shweppes Citrus 4,00</div><br><br>
							<div class="drink-type">Cervejas longneck</div>
							<div class="pull-left item-name">243 Skol 4,20</div><br>
							<div class="pull-left item-name">244 Itaipava Premium 4,20</div><br>
							<div class="pull-left item-name">245 Sem Álcool 4,10</div><br>
							<div class="pull-left item-name">246 Malzebier 4,40</div><br>
							<div class="pull-left item-name">247 Brahma Extra 4,40</div><br>
							<div class="pull-left item-name">248 Bohemia 4,40</div><br>
							<div class="pull-left item-name">249 Heineken 7,20</div><br>
							<div class="pull-left item-name">250 Stellaatois 7,20</div><br>
							<div class="pull-left item-name">251 Teresópolis Gold (600 ml) 12,90</div><br>
							<div class="pull-left item-name">321 Petra 4,40</div><br><br>
							<div class="drink-type">Chopp</div>
							<div class="pull-left item-name">252 Chopp Garotinho 3,80</div><br>
							<div class="pull-left item-name">253 Chopp 300 ml 4,20</div><br>
							<div class="pull-left item-name">254 Caneca Chop 5,30</div><br>
							<div class="pull-left item-name">256 Gelata 6,90</div><br>
							<div class="drink-type">Energético</div>
							<div class="pull-left item-name">257 Red Bull 12,90</div><br><br>
							<div class="drink-type">Licores</div>
							<div class="pull-left item-name">272 Cassis 8,00</div><br>
							<div class="pull-left item-name">273 Cointreau 9,80</div><br>
							<div class="pull-left item-name">274 Amaretto 9,80</div><br>
							<div class="pull-left item-name">275 Amarula 9,80</div><br>
							<div class="pull-left item-name">276 Frangelico 9,80</div><br><br>
							<div class="drink-type">Whiskie 8 anos</div>
							<div class="pull-left item-name">277 White Horse 13,00</div><br>
							<div class="pull-left item-name">278 Red Label 14,90</div><br>
							<div class="pull-left item-name">279 Ballantines 14,90</div><br>
							<div class="pull-left item-name">280 Red Label (garrafa) 160,00</div><br><br>
							<div class="drink-type">Whiskie 12 anos</div>
							<div class="pull-left item-name">281 Black Label 16,90</div><br>
							<div class="pull-left item-name">282 Chivas 16,90</div><br>
							<div class="pull-left item-name">283 Buchannas 16,90</div><br>
							<div class="pull-left item-name">284 Ballantines 16,90</div><br>
							<div class="pull-left item-name">285 Logan 16,90</div><br>
							<div class="pull-left item-name">286 Jack Daniel's 16,90</div><br>
							<div class="pull-left item-name">287 Black Label (garrafa) 250,00</div><br><br>
						</div>
						<div class="col-lg-6">	
							<div class="drink-type">Conhaques</div>
							<div class="pull-left item-name">258 Fundador 14,90</div><br>
							<div class="pull-left item-name">259 Domecq 12,00</div><br><br>
							<div class="drink-type">Vodkas</div>
							<div class="pull-left item-name">260 Smirnoff 11,00</div><br>
							<div class="pull-left item-name">261 Stolichinaya 13,90</div><br>
							<div class="pull-left item-name">262 Absolut 13,90</div><br><br>
							<div class="drink-type">Tequila</div>
							<div class="pull-left item-name">263 Prata/Ouro 11,00</div><br><br>
							<div class="drink-type">Outros</div>
							<div class="pull-left item-name">264 Rum Prata/Ouro 10,00</div><br>
							<div class="pull-left item-name">265 Campary 11,20</div><br>
							<div class="pull-left item-name">266 Steinhaeger 9,00</div><br>
							<div class="pull-left item-name">550 Sangria Jarra 10,00</div> <div>Pequena <span class="new-item">NOVO!</span> 25,00 <small>(vinho tinto, frutas da estação, conhaque e soda)</small></div><br><br>
							<div class="drink-type">Cachaça</div>
							<div class="pull-left item-name">267 Sagatiba 6,90</div><br>
							<div class="pull-left item-name">268 Slainas / Lua Nova / Seleta 6,90</div><br>
							<div class="pull-left item-name">269 Charmosa de Minas 6,90</div><br>
							<div class="pull-left item-name">270 Magnífica 6,90</div><br>
							<div class="pull-left item-name">271 Orgulho Mineiro 7,90</div><br><br>
							<div class="drink-type">Coquetéis/Drinks</div>
							<div class="pull-left item-name">288 Caipirinha 10,90</div><br>
							<div class="pull-left item-name">289 Caip. Especial 12,90</div><br>
							<small>(lua nova, sagatiba)</small><br>
							<div class="pull-left item-name">290 Caipivodka 13,90</div><br>
							<small>(smirnoff)</small><br>
							<div class="pull-left item-name">291 Caipivodka 15,90</div><br>
							<small>(absolut)</small><br>
							<div class="pull-left item-name">292 Caipivodka 15,90</div><br>
							<small>(stofichinaya)</small><br>
							<div class="pull-left item-name">293 Cuba Libre 12,00</div><br>
							<div class="pull-left item-name">294 Piña Colada 13,90</div><br>
							<small>(rum prata, suco de abacaxi, leite condensado e coco ralado)</small><br>
							<div class="pull-left item-name">295 Alexander 13,90</div><br>
							<small>(conhaque, licor de cacau, leite condensado e canela)</small><br>
							<div class="pull-left item-name">296 Sex on The Beach 13,90</div><br>
							<small>(vodka, suco de laranja, licor de pêssego e groselha)</small><br>
							<div class="pull-left item-name">297 Coquetel de Frutas (sem vodka) 12,90</div><br>
							<small>(suco de frutas, leite consensado e grosselha)</small><br>
							<div class="pull-left item-name">298 Coquetel de Frutas (com vodka) 14,90</div><br>
							<small>(suco de frutas, leite consensado, grosselha e vodka smirnoff)</small><br>
							<div class="pull-left item-name">299 Caipivodka Mediterranean 15,90</div><br>
							<small>(vodka smirnoff, morango, uva e manjericão)</small><br>
							<div class="pull-left item-name">300 Marguerita 14,90</div><br>
							<small>(tequila prata, triple sec e suco de limão)</small><br>
							<div class="pull-left item-name">301 Brasa e Vino 14,90</div><br>
							<small>(vodka smirnoff, maracujá, limão e manjericão)</small><br>
							<div class="pull-left item-name">302 Smirnoff Ice 11,90</div><br>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<br>
	</div>	
</div>	